body {
  background-color: #ccc;
  font-family: arial, helvetica, sans-serif;
}

.headline {
  font-size: 12pt;
  font-weight: bold;
}

.description {
  font-size: 10pt;
}

label {
  font-size: 12pt;
  font-weight: bold;
}